<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>

    <!-- Main css -->
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>

<div class="main">

    <!-- Profile -->
    <section class="signup">
        <div class="container">
            <div class="signup-content">
                <div class="signup-form">
                    <h2 class="form-title">Profile</h2>
                    {% if success %}
                        <span style="color: limegreen;">{{ success }}</span>
                    {% endif %}
                    <form method="POST" action="/profile" class="register-form" id="register-form">
                        {% if errors.name %}
                            <span style="color: red;">{{ errors.name }}</span>
                        {% endif %}
                        <div class="form-group">
                            <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="text" name="name" id="name" placeholder="Your Name"/>
                        </div>
                        {% if errors.email %}
                            <span style="color: red;">{{ errors.email }}</span>
                        {% endif %}
                        <div class="form-group">
                            <label for="email"><i class="zmdi zmdi-email"></i></label>
                            <input type="email" name="email" id="email" placeholder="Your Email"/>
                        </div>
                        {% if errors.password %}
                            <span style="color: red;">{{ errors.password }}</span>
                        {% endif %}
                        <div class="form-group">
                            <label for="password"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" name="password" id="password" placeholder="********"/>
                        </div>
                        {% if errors.re_pass %}
                            <span style="color: red;">{{ errors.re_pass }}</span>
                        {% endif %}
                        <div class="form-group">
                            <label for="re_pass"><i class="zmdi zmdi-lock-outline"></i></label>
                            <input type="password" name="re_pass" id="re_pass" placeholder="********"/>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" class="form-submit" value="Save"/>
                        </div>
                    </form>
                </div>
                <div class="signup-image">
                    <figure><img src="/public/signup-image.jpg" alt="sign up image"></figure>
                    <a href="/logout" class="signup-image-link">Logout</a>
                </div>
            </div>
        </div>
    </section>
</div>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>